* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

header {
    min-height: 30px;
    background-color: #7477BF;
    color: white;
    height: 100%;
    margin-bottom: 20px;
}

.header-bar {
    width: 100%;
    margin-left: -15px;
}


    .header-bar .app-name {
        display: inline-block;
        float: left;
        position: absolute;
        font-size: 1.7em;
    }

.header-icon {
    display: inline-block;
    position: absolute;
    right: 180px;
    top: 20px;
    width: 30px;
    border-right: 2px solid rgba(255,255,255,0.1);
    display: none;
}

.header-bar li {
    padding: 5px 0 5px 0;
}

.avatar {
    display: inline-block;
    width: 40px;
    position: absolute;
    right: 130px;
    top: 10px;
    border-radius: 100%;
    display: none;
}

.user-name {
    display: inline-block;
    float: right;
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 1.1em;
}


nav {
    background-color: #4d4b72;
    text-align: center;
}
nav ul {
    padding-left: 0;
    margin: 0;
}

.nav-icon {    
    display: inline; 
    width: 100%;
}

.nav-icon img{
    width: 55px;
    margin: 20px;
}

main {
    text-align: center;
}

input[id="search"] {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 85%;
    padding: 13px;
    border: 1px solid silver;
    border-radius: 4px;
}

#dashboard {
    font-weight: lighter;
}

#alert {
    margin: 0 auto;
    padding: 10px;
    background-color: #7377BF;
    color: white;
    width: 90%;
}

/* Social Media Widgets */

.sm-widget {
    display: block;
    margin: 0 auto;
    border:2px solid #d6d6d6;
    border-radius: 5px;
    max-width: 90%;
    height: 125px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.sm-icon-bg {
    display: inline-block;
    float: left;
    background-color: #7377BF;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    margin: 25px;
}
.sm-icon {
    width: 35px;
    margin-top: 14px;
    margin-left: 1px;
}

.sm-name {
    text-align: left;
    color: #7377BF;
    margin-bottom: 0;
}

.sm-numbers {
    text-align: left;
    font-size: 60px;
    margin-top: 0;
    font-weight: 100;
}