* {
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

header {
    min-height: 30px;
    background-color: #7477BF;
    color: white;
    height: 100%;
    margin-bottom: 20px;
}

.header-bar {
    width: 100%;
    margin-left: -15px;
}

.header-bar .app-name {
    display: block;
    float: left;
    position: absolute;
    font-size: 1.6em;
}

.header-icon {
    display: block;
    position: absolute;
    right: 200px;
    top: 16px;
    width: 35px;
    border-right: 2px solid rgba(255,255,255,0.1);
}

.header-bar li {
    padding: 5px 0 5px 0;
}

.avatar {
    width: 40px;
    position: absolute;
    right: 142px;
    top: 10px;
    border-radius: 100%;
}

.user-name {
    display: inline-block;
    float: right;
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 1.2em;
}


nav {
    background-color: #4d4b72;
}

.nav-icon {
    display: block;
    width: 50px;
}

main {
    text-align: center;
}