* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

header {
    min-height: 30px;
    background-color: #7477BF;
    color: white;
    height: 100%;
    margin-bottom: 20px;
}

.header-bar {
    width: 100%;
    margin-left: -15px;
}


    .header-bar .app-name {
        display: inline-block;
        float: left;
        position: absolute;
        font-size: 1.7em;
    }

.header-icon {
    display: inline-block;
    position: absolute;
    right: 180px;
    top: 20px;
    width: 30px;
    border-right: 2px solid rgba(255,255,255,0.1);
    display: none;
}

.header-bar li {
    padding: 5px 0 5px 0;
}

.avatar {
    display: inline-block;
    width: 40px;
    position: absolute;
    right: 130px;
    top: 10px;
    border-radius: 100%;
    display: none;
}

.user-name {
    display: inline-block;
    float: right;
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 1.1em;
}


nav {
    background-color: #4d4b72;
    text-align: center;
}
nav ul {
    padding-left: 0;
    margin: 0;
}

.nav-icon {    
    display: inline; 
    width: 100%;
}

.nav-icon img{
    width: 55px;
    margin: 20px;
}

main {
    text-align: center;
}

input[id="search"] {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 85%;
    padding: 13px;
    border: 1px solid silver;
    border-radius: 4px;
}

#dashboard {
    font-weight: lighter;
}

#alert {
    margin: 0 auto;
    padding: 10px;
    background-color: #7377BF;
    color: white;
    width: 90%;
}

/* Social Media Widgets */

.sm-widget {
    display: block;
    margin: 0 auto;
    border:2px solid #d6d6d6;
    border-radius: 5px;
    max-width: 90%;
    height: 125px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.sm-icon-bg {
    display: inline-block;
    float: left;
    background-color: #7377BF;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin: 25px;
}

.sm-icon-twitter {
    width: 35px;
    margin-top: 20px;
    margin-left: 1px;
}

.sm-icon-fb {
    width: 40px;
    margin-top: 14px;
    margin-left: 0px;
}

.sm-icon-google {
    width: 35px;
    margin-top: 20px;
    margin-left: 1px;
}

.sm-name {
    text-align: left;
    margin-left: 125px;
    font-size: 17px;
    color: #7377BF;
    margin-bottom: -2px;
}

.sm-numbers {
    text-align: left;
    font-size: 60px;
    margin-top: 0;
    font-weight: 100;
}

/* Recent Activity */

.members-image {
    border-radius: 100%;
}

.member-name {
    margin-bottom: 2px;
}

.member-email {
    margin-top: 0px;
}

.email {
    text-decoration: none;
}

hr {
    width: 75%;
    border-width: 0;
    height: 1px;
    color: silver;
    background-color: silver;
}

/* Message History */

.status {
    margin-bottom: 2px;
}

.time {
    margin-top: 0;
    font-weight: 800;
    font-size: 14px;
}

.arrow {
    width: 5%;
}

/* Message User */

fieldset {
    border: none;
}

input[id="user"] {
    display: block;
    margin: auto;
    width: 90%;
    padding: 13px;
    border: 1px solid silver;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #FBFBFB;   
}

textarea[id="message"] {
    display: block;
    resize: none;
    margin: auto;
    width: 90%;
    border: 1px solid silver;
    border-radius: 4px;
    height: 125px;
    padding: 13px;
    background-color: #FBFBFB;
}

/* Settings */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #7377BF;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

#timezones {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 15px;
}